.popup-content{
    display: block;
}
.pop-up{
    position: absolute;
    background-color: rgb(212, 207, 194);
    left: 0px;
    top: -180px;
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 300px;
    margin: auto;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    display: none;
}
#pop-up-1{
    position: absolute;
    background-color: rgb(212, 207, 194);
    left: 0px;
    top: -90px;
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 300px;
    margin: auto;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    display: block;
}
#output-step1{
    position: absolute;
    left: 0px;
    top: 480px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    height: 180px;
    margin: auto;
    background-color: rgb(254, 190, 190);
    border: solid;
    border-radius: 20px;
    padding: 10px;
}
#output-step2{
    position: absolute;
    left: 0px;
    top: 480px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    height: 180px;
    margin: auto;
    background-color: rgb(254, 190, 190);
    border: solid;
    border-radius: 20px;
    padding: 10px;
}
#output-step3{
    position: absolute;
    left: 0px;
    top: 480px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    height: 130px;
    margin: auto;
    background-color: rgb(254, 190, 190);
    border: solid;
    border-radius: 20px;
    padding: 10px;
}
.progress-bar-outline{
    position: absolute;
    left: 0px;
    top: 270px;
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 20px;
    margin:auto;
    border: solid;
    border-radius: 8px;
    display: block;
    border-width: 2px;
}
.step-description{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    position: absolute;
    left: 15px;
    font-weight: 500px;
}
#step1-description-complete{
    font-family:fantasy;
    font-size:70px;
    position: absolute;
    left: 70px;
    top: 40px;
    font-weight: 500px;
}
#step2-description-complete{
    font-family:fantasy;
    font-size:70px;
    position: absolute;
    left: 70px;
    top: 40px;
    font-weight: 500px;
}
#step3-description-complete{
    font-family:fantasy;
    font-size:70px;
    position: absolute;
    left: 70px;
    top: 40px;
    font-weight: 500px;
}
.question-layer{
    position: absolute;
    left: 0px;
    top: -40px;
    right: 0px;
    bottom: 0px;
    width: 450px;
    height: 120px;
    margin: auto;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    border-width: 0.5px;
}
.prompt-question{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    position: absolute;
    left: 100px;
    top: 80px;
    font-weight: 500px;
}
.inputs{
    position: absolute;
    left: 110px;
    top: 120px;
    width: 350px;
    height: 30px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: medium;
}
.buttons{
    position: absolute;
    left: 130px;
    top: 210px;
}
.next-btn{
    background-color:rgb(248, 217, 65);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    font-family:cursive;
    font-size: x-large;
    cursor:pointer;
}
#next-btn-6{
    background-color:rgb(248, 217, 65);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    font-family:cursive;
    font-size: x-large;
    cursor:pointer;
    position: absolute;
    left: 80px;
}
#next-btn-11{
    background-color:rgb(248, 217, 65);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    font-family:cursive;
    font-size: x-large;
    cursor:pointer;
    position: absolute;
    left: 80px;
}
#next-btn-15{
    background-color:rgb(248, 217, 65);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    font-family:cursive;
    font-size: x-large;
    cursor:pointer;
    position: absolute;
    left: 80px;
}
.skip-btn{
    background-color:rgb(248, 217, 65);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    font-family:cursive;
    font-size: x-large;
    cursor: pointer;
}
#progress-bar{
    width: 590px;
    position: absolute;
    left: 5px;
    top: -5px;
    accent-color: rgb(75, 227, 75);
    height: 30px;
}
#progress-label{
    position: absolute;
    top: -23px;
}
.output-step1{
    position:absolute;
    left: 10px;
}
.output-step2{
    position:absolute;
    left: 10px;
}
.output-step3{
    position:absolute;
    left: 10px;
}
.final-output-1{
    position: absolute;
    left: 50px;
    top: 50px;
}
.final-output-2{
    position: absolute;
    left: 300px;
    top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
    position: absolute;
    top: 120%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

footer a:hover {
    color: #ffd700; /* Change to gold on hover */
    text-decoration: underline;
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.foot {
    padding-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*,
    *:before,
    *:after {
    box-sizing: border-box;
    }

    body {
    font-family: Montserrat, sans-serif;
    background: #f0f7f8; /* var(--clr-gray100) */
    }

    .nav-list {
    background: white;
    box-shadow: 0px 0px 10px #cfd8dc; /* var(--clr-gray200) */
    padding: 1rem 0;
    border-radius: 0.2rem; /* var(--radius) */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20px;
    padding-bottom: -20px;
    }
    .nav-item {
    list-style: none;
    margin-right: 2rem;
    margin-top: 10px;

    }

    .nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;

    }

    .nav-item a:hover {
    color: #039d69; /* var(--clr-primary-dark) */
    }

    .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
    }

    .btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    background: #6aeeb5; /* var(--clr-primary) */
    border: none;
    outline: none;
    border-radius: 0.2rem; /* var(--radius) */
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    }

    .btn-primary:hover {
    background: #29e6a7; /* var(--clr-primary-hover) */
    }